/* Previous positioning rules */
body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}

/* New Responsive rules for smartphones */
@media screen and (max-width: 768px) {
    .works_on_smartphone main {
        flex-direction: column; /* Stacks article and aside vertically */
    }
}
